<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div>
    <form th:action="@{/registration}"  method="post">
        <label >Username:</label>
        <input type="text" name="username"><br>
        <label >Password:</label>
        <input type="password" name="password"><br>
        <div th:if="${userExist}">
            <span th:text="${userExist}"></span>
        </div>
        <input type="submit">
    </form>
</div>
<a href="/">Home page</a>
<a href="/main">Main page</a>
</body>
</html>